<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
 <mapper namespace="com.jy.s4.board.notice.NoticeDAO">  
 	<insert id="setInsertFile" parameterType="BoardFileDTO">
 		insert into noticeFile values("notice_seq".nextval, #{num}, #{fileName}, #{oriName})
 	</insert>
 	
 	<select id="getNum" resultType="Long">
 		select notice_seq.nextval from dual
 	</select>
  
 	<update id="setUpdate" parameterType="NoticeDTO"> 
 		update notice set title=#{title}, contents=#{contents} where num=#{num}
 	</update>
 
	<delete id="setDelete" parameterType="NoticeDTO">
		delete notice where num=#{num}
	</delete> 
 
 	<resultMap type="NoticeDTO" id="getOneResult">
 		<id column="num" property="num"/>
 		<result column="title" property="title"/>
 		<result column="writer" property="writer"/>
 		<result column="contents" property="contents"/>
 		<result column="regDate" property="regDate"/>
 		<result column="hit" property="hit"/>
 		<collection property="boardfileDTOs" ofType="BoardFileDTO" javaType="java.util.List">
 			<id column="fileNum" property="fileNum"/>
 			<result column="fileName" property="fileName"/>
 			<result column="oriName" property="oriName"/>
 		</collection>
 	</resultMap>
 
 	<select id="getOne" parameterType="NoticeDTO" resultMap="getOneResult">
 		 select N.*, NF.*
   		 from notice N inner join noticeFile NF
  		 on N.num = NF.num
  		 where N.num =#{num}
 	</select>
 
	<insert id="setInsert" parameterType="NoticeDTO">
		<selectKey keyProperty="num" resultType="Long" order="BEFORE">
			select "notice_seq".nextval from dual
		</selectKey>
		insert into notice values(#{num}, #{title}, #{writer}, #{contents}, sysdate, 0)
	</insert> 
 
 	<select id="getList" resultType="NoticeDTO" parameterType="Pager">  <!-- id는 사용할 메서드명을 써주면 좋음 -->
 		  <!-- ; 필요없음 -->
 		SELECT * FROM
		(select rownum as R, N.* from 
		(select * from notice where 
		<choose>
			<when test="kind =='tt'">title</when>
			<when test="kind =='wr'">writer</when>
			<otherwise>contents	</otherwise>
		</choose> 
		like '%'||#{search}||'%' order by num desc) N)
		WHERE R BETWEEN #{startRow} AND #{lastRow}
 	</select>
 	
 	<select id="getCount" resultType="long" parameterType="Pager">
 		select count(num) from notice
 		where
 		<choose>
			<when test="kind =='tt'">title</when>
			<when test="kind =='wr'">writer</when>
			<otherwise>contents	</otherwise>
		</choose> 
		like '%'||#{search}||'%'
 	</select>
 
 </mapper>